doctype 5
html
  head
    link(rel="stylesheet", href="/main.css")

    meta(content='True', name='HandheldFriendly')
    meta(content='320', name='MobileOptimized')
    meta(content='width=device-width, target-densitydpi=160dpi, initial-scale=1.0', name='viewport')

    title KCDC 2012 Schedule

    script(type="text/javascript", src="/jquery.js")
    script(type="text/javascript", src="/app.js")

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31249704-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    h1 KCDC 2012 Schedule

  != body