body
  font-family "Helvetica Neue", "Helvetica", "Arial", sans-serif
  line-height 1.4em
  text-shadow 1px 1px 1px #000

  background-color #444
  color #eee

  margin 0
  padding 0

h1
  background-color #555
  border-bottom 1px solid #222

  font-size 2em
  line-height 1.4em

  margin 0
  padding 20px 20px 5px 20px

ul
  margin 0
  padding 0

li
  list-style-type none

  margin 0
  padding 8px 20px

  border-bottom 1px solid #222

  h2
    font-size 1.2em
    font-weight bold
    line-height 1.4em

    margin 0
    padding 0

    .speaker
      color #bbb

      font-size 0.8em
      font-weight normal

      margin-left 1em

  p
    margin 0
    padding 0

    time
      color #bbb
      margin-left 1em